*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 62.5%;
    font-family: 'Commissioner', sans-serif;
}

// Variables

// Primary

$Moderate-cyan: hsl(176, 50%, 47%);
$Dark-cyan: hsl(176, 72%, 28%);

// Neutral

$Black: hsl(0, 0%, 0%);
$Dark-gray: hsl(0, 0%, 48%);
@mixin flex($direction,$content, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

.hero-container{
    width: 100%;
    height: 60vh;
    background-image: url('./images/image-hero-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-position: center center;
    justify-content: space-around;
    gap: 22rem;
    font-size: 1rem;
    
    .logo-container, .nav-container{
        padding-top: 3rem;

        .nav-container{
            width: 100%;
            height: auto;
        }
        .nav-ul-container{
            display: flex;
            list-style: none;
            padding-left: 1.8rem;
        }
        .nav-ul-container li{
            padding: 0 0.5rem;
            
        }
        .nav-ul-container li a{
            text-decoration: none;
            color: white;
        }
    }
}
main{
    width: auto;
    height: auto;
    display: flex;
    @include flex(column,center ,center);
    .crowdfunding-product-container{
        width: 50%;
        height: auto;
        border: 1px solid #000;
        border-radius: 8px;
        background-color: #fff;
        @include flex(column,center ,center );
        position: relative;
        top: -80px;
        .logo-mastercraft-container{
            width: 50%;
            height: auto;
            position: absolute;
            top: 90px;
        }
    }
}
